.App {
  text-align: center;
}

.nav{
  text-align: left;
  background-color: #000000;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 20px;
  
}
.active{
  padding: 20px;
  width: 144px;
  background-color: rgb(234, 234, 11);
}

.nav-bar li{
  padding: 20px;
  list-style: none;
  text-decoration: none;
  font-size: x-large;
}
.nav-bar li:hover{
  background-color: rgb(234, 234, 11);
}

.nav-bar a{
  text-decoration: none;
  color: white;
}

/* .wrapp {
  display: flex;
  justify-content: space-between;
}

.nav-bar2 {
  padding: 20px 50px;
}

.switch-mode {
  text-decoration: none;
  font-size: large;
  font-weight: 600;
  letter-spacing: 3px;
} */
.container{
  display: grid;
  gap: 50px 100px;
  grid-template-columns: auto auto auto; 
  justify-content: space-between;
  padding: 5px 70px; 
  font-size: x-large;
}

.column img{
  width: 100%;
  height: 396px;
}

.column{
  padding: 10px;
}

.title{
  opacity: 0.6;
}
.card{
  background-color: rgb(249, 245, 245);
}

.column button{
  width: 100%;
  background-color: #000000;
  color: white;
  padding: 5px 0;
  font-size: large;
  font-weight: 600;
  cursor: pointer;
}

.column a{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.foot{
  width: 100%;
  background-color: yellow;
  padding: 2px;
  font-size: x-large;
  line-height: 0.5;
}

.foot h6{
  margin: 6px;
  font-size: large;
  padding: 5px 0;
}

/* .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup img{ width: 100%;}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {color: #06D85F;}
.popup .content {
  max-height: 30%;
  overflow: auto;
} */